:root {
    --secondary-background: #F5F4FA;
    --footer-background: #2F303A;
    --text-color: #757575;
    --title-link-color: #212121;
    --hover-color: #2196F3;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-font-family: 'Raleway', sans-serif;
}