.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer__info-net {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
.footer__box {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
.footer-network {
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
    }
    

.footer__logo {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    margin-bottom: 20px;
}

.footer__accent {
    color: #FFFFFF;
}

.footer__list {
    letter-spacing: 0.03em;
    font-style: normal;
    margin-bottom: 60px;
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__map {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    color: #FFFFFF;
    @include font(400, null, 1.7143, null);
    // font-weight: 400;
    // line-height: 1.7143;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}

.footer__link {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    color: rgba(255, 255, 255, 0.6);
    @include font(400, null, 1.7143, null);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
       color: var(--hover-color);
    }

}


.footer__text {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    color: #FFFFFF;
    @include font(700, 14px, 1.1429, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.1429;
    // letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.footer__icons {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    gap: 10px;
    margin-bottom: 60px;
}

.footer-soc__iteam {
    width: 44px;
    height: 44px;
}

.footer-soc__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.footer-soc__icon {
    fill: #FFFFFF;
}


.footer__field {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
    }
}

.field__email {
    margin-right: 12px;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    }
}

.footer__label {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
    font-family: Roboto;
    @include font(700, 14px, 1.1429, null);
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__input {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 15px 16px;
    border-radius: 4px;
    background-color: var(--footer-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    &::placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    @media screen and (min-width: 1200px) {
        width: 360px;
    }
}

// .footer__input::placeholder {
//     font-family: Roboto;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 20px;
// }
.footer__button {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
       justify-content: flex-start;
    }
}
.footer__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.875;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.icon__sign {
    margin-left: 10px;
    fill: #FFFFFF;
}